@model TheSaucisseFactory.Residence


@{
    ViewBag.Title = "Résidence - Edition";
}

<h2>Résidence - Edition</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$(".datepicker").datepicker();
	});
</script>

@Html.Partial("_Error")

@using (Html.BeginRouteForm("TheSaucisseFactory.Residence", new {controller = "Residence", action = "Edit"},
		FormMethod.Post, new { autocomplete = "off" })) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Résidence</legend>

		@Html.HiddenFor(model => model.EntityKey)
		<table width="100%" class="fields">
		<tr>		  
		  	<td>Id</td><td>			            
			            	@Html.DisplayFor(model => model.Id, "UniqueIdentifier")
		  </td>
		  
		</tr>
		<tr>		  
		  	<td>Id CAMEL</td><td>			                  
			                  	@Html.EditorFor(model => model.CamelId, "Text")			                  
			                  	@Html.ValidationMessageFor(model => model.CamelId)
		  </td>
		  
		</tr>
		<tr>		  
		  	<td>Nom</td><td>			             
			             	@Html.EditorFor(model => model.Nom, "Text")			             
			             	@Html.ValidationMessageFor(model => model.Nom)
		  </td>
		  
		</tr>
		</table>


        <p>
            <input type="submit" value="@Resources.WebResources.Save" />
        </p>
    </fieldset>
}

<div>
    @if (Request.UrlReferrer == null)
    {
		@Html.RouteLink("Retour", "TheSaucisseFactory.Residence", new {controller = "Residence", action = "Index"})
	}
	else
	{
		<a href="@Request.UrlReferrer" title="@Resources.WebResources.GoBack">Retour</a>
	}
</div>
